/* Name: Connor Hardin
     Date: 7/4/2022
     File Name: responsiveStyles.css
     Assignment: Responsive Travel
*/

.col1{float: left;width: 100%;}
.col2, .col3{float: none; width: 100%; height: 100%;}
.sidebox {
  display: none;
}


@media screen and (min-width: 768px) {
  .col1{
    width: 100%;
    height: 100%;
  }
  .col2{
    width:45%;
    clear: both;
    float: left;
  }
  .col3{
    width: 45%;
    float: right;
  }
}
@media screen and (min-width: 998px) {

}
