/*
Developer:  Connor Hardin
Date:       6/30/2022
File:       styles.css
Assignment: Responsive Travel
*/

html{font-family: sans-serif;background-color: green;}

header{
  text-align: center; font-size: 2.0em;
  background-color: red;padding: 40px 25px;
 }

.container{
  margin: auto;
  background-color: #fff;
}

.cols{
  line-height: 1.5em;
}

h3{text-align: center;}

img {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.col1, .col2, .col3 {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.col3{
  float: right;
  margin-right: 0%;
}

 .sidebar {
   float: left;
   width: 30%;
 }

.sidebox {
  background-color: purple;
  padding: 20px;
  margin: 0 0 15px 0;
}

.clearfix:after { content: ""; display: table;clear: both; }
